<nav class="UnderlineNav UnderlineNav--full" aria-label="Menu">
 <div class="container-lg UnderlineNav-container">
   <div class="UnderlineNav-body">
      <%= image_tag "ce-cert-logo.png" %> <h1>Continuing Education Certificates</h1>
    </div>
  </div>
</nav>
