  <% if current_user.superadmin_role? %>
    <%= link_to "New User", new_user_path, id: "news", class: "btn btn-primary" %>
  <% end %>

  <div class="columns">
    <% @users.each_slice(10) do |users| %>
        <div class="one-third column">
          <table class="data-table">
            <tr>
              <th>Name</th>
              <th>Assign</th>
            </tr>
              <% users.each do |u| %>
                <tr>
                  <td>
                      <%= link_to u.fullname, user_path(u) %>
                  </td>
                  <td>
                    <% if user_assigned?(u) %>
                      <%= link_to "Edit Role", assign_role_user_url(u) %>
                    <% else %>
                      <%= link_to "Assign Role", assign_role_user_url(u) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
        </table>
      </div>
    <% end %>
  </div>
<br />
<br />
